APP_STAND=prod
TRAEFIK_EMAIL=jeishod@gmail.com
TRAEFIK_BASIC_AUTH=admin:$$apr1$$hB/cgqNw$$V9aAaWojiEWxU381mZNib.
TRAEFIK_DOMAIN=jeishod.dev
FRONTEND_DOMAIN=jeishod.dev

# VERSIONS
WEBAPI_VERSION_TAG=latest
QRCODE_GENERATOR_VERSION_TAG=latest
AUTH_VERSION_TAG=latest

# RABBITMQ
RABBITMQ_ADMIN_USER=rabbitmq
RABBITMQ_ADMIN_PASSWORD=rabbitmq-password

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=qliqy
RABBITMQ_PASSWORD=qliqy-password

QLIQY_POSTGRES_USER=postgres
QLIQY_POSTGRES_PASSWORD=postgres-password
QLIQY_POSTGRES_MAX_CONNECTIONS=100
QLIQY_POSTGRES_EXPOSED_PORT=55432

# AUTH service
AUTH_POSTGRES_HOST=postgres
AUTH_POSTGRES_PORT=5432
AUTH_POSTGRES_USER=postgres
AUTH_POSTGRES_PASSWORD=postgres-password
AUTH_POSTGRES_DB=qliqy_auth
AUTH_BACKEND_URL=http://auth:8000/auth

# WEBAPI service
WEBAPI_POSTGRES_HOST=postgres
WEBAPI_POSTGRES_PORT=5432
WEBAPI_POSTGRES_USER=postgres
WEBAPI_POSTGRES_PASSWORD=postgres-password
WEBAPI_POSTGRES_DB=qliqy_webapi
QRCODE_GENERATOR_URL=http://qrcode-generator:8000/api/v1/qrcode

# TELEGRAM service
TELEGRAM_POSTGRES_HOST=postgres
TELEGRAM_POSTGRES_PORT=5432
TELEGRAM_POSTGRES_USER=postgres
TELEGRAM_POSTGRES_PASSWORD=postgres-password
TELEGRAM_POSTGRES_DB=qliqy_telegram

# MAIL service
SMTP_HOST=mail.jeishod.dev
SMTP_PORT=587
SMTP_USER=noreply@jeishod.dev
SMTP_PASSWORD=SUPER_SECRET
SMTP_USE_TLS=true
MAIL_FROM=noreply@jeishod.dev